<h1 *ngIf="titre">{{ titre }}</h1>
<div class="container">
  <ul class="row row-cols-1 row-cols-md-3 g-4 ">
    <app-film-item *ngFor="let filmCourant of films"
    [film]="filmCourant"
    class="col my-3">
    </app-film-item>
  </ul>
</div>

