<div class="card m-3 mx-auto " style="max-width: 720px;" >
  <div class="row g-0">
    <div class="col-md-6">
      <img src="{{film.posterUrl}}" class="img-fluid rounded-star" alt="Affiche film">
    </div>
    <div class="col-md-6">
      <div class="card-body">
        <h1 class="card-title">{{film.title}}</h1>
        <h4 class="card-title">{{film.year}}</h4>
        <p class="card-text">Durée : {{film.runtime}} min</p>
        <p class="card-text">Réalisateur : <strong>{{film.director}}</strong></p>
        <p class="card-text">Liste de acteurs : <strong>{{film.actors}}</strong></p>
        <p class="card-text">{{film.plot}}</p>
        <p class="card-text">id : {{film.id}}</p>
        <div class="row m-3">
          <app-score-button></app-score-button>
        </div >
      </div>
    </div>
  </div>
  <div class="card-footer">
    <div class="row m-3">
      <a class="btn btn-primary col align-self-center" routerLink="/films">
        Retour
      </a>

    </div>
  </div>
</div>


