<app-headernavbar></app-headernavbar>
<body>
  <router-outlet></router-outlet>
</body>
<footer class="bg-secondary text-white text-center py-2">
  <p class="pt-2">Site créé par Erwan JOURDAN</p>
</footer>
