<div class="row m-3" >
  <button class="btn btn-danger col-3" (click)="decreasePoint(film.score); saveEditScore(film)">-1</button>
  <div class="col-6">
    <h6 class="card-title text-center">Score</h6>
    <h6 class="card-title text-center">{{film.score}}</h6>
  </div>
  <button class="btn btn-success col-3" (click)="increasePoint(film.score); saveEditScore(film)">+1</button>

</div >
