<div class="card mx-auto h-100" style="width: 18rem;">
  <img src="{{film.posterUrl}}" class="card-img-top" alt="Affiche film" [routerLink]="['/détails', film.id]">
  <div class="card-body" [routerLink]="['/détails', film.id]">
    <h5 class="card-title text-center">{{film.title}}</h5>
    <h6 class="card-title text-center">{{film.year}}</h6>
    <p class="card-text">{{film.plot}}</p>
  </div>
  <div class="card-footer">
    <div class="row m-3">
      <button class="btn btn-danger col-3" (click)="decreasePoint(film.score); saveEditScore(film)">-1</button>
      <div class="col-6">
        <h6 class="card-title text-center">Score</h6>
        <h6 class="card-title text-center">{{film.score}}</h6>
      </div>
      <button class="btn btn-success col-3" (click)="increasePoint(film.score); saveEditScore(film)">+1</button>
    </div >
    <div class="row m-3">
      <a class="btn btn-primary col align-self-center" [routerLink]="['/détails', film.id]">
        En savoir plus
      </a>

    </div>
  </div>
</div>
