<header>
  <nav class="navbar navbar-expand-lg navbar-dark bg-primary">
    <div class="container-fluid">
      <a class="navbar-brand" routerLink="/home">Angular Évaluation</a>

      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>

      <div class="collapse navbar-collapse row" id="navbarSupportedContent">
        <ul class="navbar-nav me-auto mb-2 mb-lg-0">

          <li class="nav-item">
            <a [className]="currentUrl === '/home' ? 'nav-link active mx-1' : 'nav-link mx-1'" routerLink="/home">Home</a>
          </li>

          <li class="nav-item">
            <a [className]="currentUrl === '/films' ? 'nav-link active mx-1' : 'nav-link mx-1'" routerLink="/films">Films</a>
          </li>

        </ul>

      </div>
    </div>
  </nav>
</header>
