<div class="container">
  <h1 class="my-3">Évaluation angular</h1>
  <a class="btn btn-primary col align-self-center m-3" routerLink="/films">
    Liste des films ici
  </a>
  <ul class="row row-cols-1 row-cols-md-6 g-4 ">
    <app-home-item *ngFor="let filmCourant of films"
    [film]="filmCourant"
    class="col mb-2">
    </app-home-item>
  </ul>
</div>


